In [23]:
import sys
import pathlib
import pandas as pd
prefix='new-lincRNAs'
appdir='~/flync_retest/dlinct/'
paths_table=appdir + '3dA/run_1/results/non-coding/features/paths.csv'
bed_path=appdir + '3dA/run_1/results/non-coding/new-lincRNAs.bed'
outpath=appdir + '3dA/run_1/results/'

In [24]:
readin=pd.read_csv(paths_table, delimiter=',', header=None)
# for index, rows in readin.iterrows():
#     readin.iloc[index, [1]] = appdir + 'lncrna/' + rows[0] + '.tsv'
readin.rename(columns={0: 'track', 1:'url'}, inplace=True)
readin.head(15)

                   track                                                url
0               CAGE_neg  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
1   CAGE_neg_whole_trans  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
2               CAGE_pos  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
3   CAGE_pos_whole_trans  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
4                 GCcont  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
5             H3K4me3_S2  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
6              JASPAR_TF  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
7                Pol2_S2  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
8                  ReMap  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
9            phastCons27  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
10             phyloP124  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...
11              phyloP27  /home/chlab/flync_retest/dlinct/3dA/run_1/resu...

In [13]:
bed=pd.read_csv(bed_path, delimiter='\t', header=None)
bed.columns = ["chr", "start", "end", "name", "score", "strand"]

# Define column names
bw_cols=["name", "size", "covered_bases", "sum", "mean0", "mean", "min", "max"]
bb_cols=["name", "covered_percent", "mean", "min", "max"]

In [16]:
# Create dataframes from extracted features
for i in range(len(readin)):
    if readin.iloc[i,0] == 'GCcont':
        df_gc=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_gc.columns=bw_cols
        df_gc['name'] = df_gc['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'phastCons27':
        df_pc27=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_pc27.columns=bw_cols
        df_pc27['name'] = df_pc27['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'phyloP27':
        df_pp27=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_pp27.columns=bw_cols
        df_pp27['name'] = df_pp27['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'phyloP124':
        df_pp124=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_pp124.columns=bw_cols
        df_pp124['name'] = df_pp124['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'Pol2_S2':
        df_pol2=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_pol2.columns=bw_cols
        df_pol2['name'] = df_pol2['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'H3K4me3_S2':
        df_me3=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_me3.columns=bw_cols
        df_me3['name'] = df_me3['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'CAGE_pos_whole_trans':
        df_posTSS_wt=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_posTSS_wt.columns=bw_cols
        df_posTSS_wt['name'] = df_posTSS_wt['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'CAGE_neg_whole_trans':
        df_negTSS_wt=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_negTSS_wt.columns=bw_cols
        df_negTSS_wt['name'] = df_negTSS_wt['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'ReMap':
        df_re=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_re.columns=bb_cols
        df_re['name'] = df_re['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'JASPAR_TF':
        df_tf=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_tf.columns=bb_cols
        df_tf['name'] = df_tf['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'CAGE_pos':
        df_posTSS=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None)
        df_posTSS.columns=["name", "startPosTSS"]
        df_posTSS['name'] = df_posTSS['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'CAGE_neg':
        df_negTSS=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None, na_values=0)
        df_negTSS.columns=["name", "endNegTSS"]
        df_negTSS['name'] = df_negTSS['name'].map(lambda x: x.rstrip('.'))
    elif readin.iloc[i,0] == 'RNAfold':
        df_2s=pd.read_csv(readin.iloc[i,1], delimiter='\t', header=None, na_values=0)
        df_2s.columns=["name", "mfe"]
        df_2s['name'] = df_2s['name'].map(lambda x: x.rstrip('.'))

In [17]:
df_gc.head()

               name  size  covered_bases      sum    mean0     mean  min  max
0  TCONS_00000003.1   252            252   8540.0  33.8889  33.8889  0.0   80
1  TCONS_00000003.2    94             94   3520.0  37.4468  37.4468  0.0   80
2  TCONS_00004626.1   425            425  19200.0  45.1765  45.1765  0.0  100
3  TCONS_00004626.2   297            297  11580.0  38.9899  38.9899  0.0  100
4  TCONS_00004627.1   127            127   4880.0  38.4252  38.4252  0.0  100

In [18]:
# Prepare the bed file info
features = bed["name"]
features = pd.merge(features, bed[['name', 'start', 'end']], on=['name'])
features["length"] = features["end"] - features["start"]
features

                  name    start      end  length
0     TCONS_00004626.1    77805    78230     425
1     TCONS_00004626.2    78724    79021     297
2     TCONS_00004627.1    78742    78869     127
3     TCONS_00004627.2    78938    79021      83
4     TCONS_00008934.1    90157    90847     690
...                ...      ...      ...     ...
6166  TCONS_00056960.2  3629695  3630983    1288
6167  TCONS_00057124.1  3631152  3631967     815
6168  TCONS_00057125.1  3633207  3633814     607
6169  TCONS_00057126.1  3637823  3640009    2186
6170  TCONS_00057127.1  3648692  3649112     420

[6171 rows x 4 columns]

In [19]:
# Prepare the bed file info
features = bed["name"]
features = pd.merge(features, bed[['name', 'start', 'end']], on=['name'])
features["length"] = features["end"] - features["start"]

# Incorporate best TSS peaks near ('offset' +/- 'start'/'end')
features = pd.merge(features, df_posTSS, on=['name'], how="outer")
features = pd.merge(features, df_negTSS, on=['name'], how="outer")

tss_peak = features[["startPosTSS", "endNegTSS"]]
tss_peak = abs(tss_peak)
tss_peak = tss_peak.max(axis=1)
features["bestTSS"] = tss_peak
features.drop(columns=["startPosTSS", "endNegTSS"], inplace=True)

# Incorporate best TSS peaks inside the whole transcript
features = pd.merge(features, df_posTSS_wt[['name', 'max']], on=['name'], how='outer')
features = pd.merge(features, df_negTSS_wt[['name', 'min']], on=['name'], how='outer')
features.rename(columns={'max': 'PosTSS_inside', 'min': 'NegTSS_inside'}, inplace=True)

tss_peak_ins = features[["PosTSS_inside", "NegTSS_inside"]]
tss_peak_ins = abs(tss_peak_ins)
tss_peak_ins = tss_peak_ins.max(axis=1)
features["bestTSS_inside"] = tss_peak_ins
features.drop(columns=["PosTSS_inside", "NegTSS_inside"], inplace=True)

# Incorporate best metric for each queried bigWig or bigBed files
features = pd.merge(features, df_gc[['name', 'mean']], on=['name'], how='outer')
features.rename(columns={'mean': 'mean_gc'}, inplace=True)

features = pd.merge(features, df_re[['name', 'mean']], on=['name'], how='outer')
features.rename(columns={'mean': 'mean_remap'}, inplace=True)

features = pd.merge(features, df_me3[['name', 'covered_bases']], on=['name'], how='outer')
features.rename(columns={'covered_bases': 'cov_me3'}, inplace=True)
features["cov_me3"] = features["cov_me3"] / features["length"]

features = pd.merge(features, df_tf[['name', 'covered_percent']], on=['name'], how='outer')
features.rename(columns={'covered_percent': 'cov_tfbs'}, inplace=True)

features = pd.merge(features, df_pol2[['name', 'covered_bases']], on=['name'], how='outer')
features.rename(columns={'covered_bases': 'cov_pol2'}, inplace=True)
features["cov_pol2"] = features["cov_pol2"] / features["length"]

features = pd.merge(features, df_pc27[['name', 'mean0']], on=['name'], how='outer')
features.rename(columns={'mean0': 'mean_pcons27'}, inplace=True)

features = pd.merge(features, df_pp27[['name', 'mean0']], on=['name'], how='outer')
features.rename(columns={'mean0': 'mean_pPcons27'}, inplace=True)

features = pd.merge(features, df_pp124[['name', 'mean0']], on=['name'], how='outer')
features.rename(columns={'mean0': 'mean_pPcons124'}, inplace=True)

features

,name,start,end,length,bestTSS,bestTSS_inside,mean_gc,mean_remap,cov_me3,cov_tfbs,cov_pol2,mean_pcons27,mean_pPcons27,mean_pPcons124
0,TCONS_00004626.1,77805.0,78230.0,425.0,2.0,7,45.1765,16.4424,1.0,0.924706,1.0,0.734584,1.682820,1.805900
1,TCONS_00004626.2,78724.0,79021.0,297.0,4.0,18,38.9899,101.0770,1.0,0.936027,1.0,0.645394,1.181790,1.221690
2,TCONS_00004627.1,78742.0,78869.0,127.0,4.0,18,38.4252,81.1654,1.0,0.984252,1.0,0.395150,0.551992,0.484630
3,TCONS_00004627.2,78938.0,79021.0,83.0,4.0,8,42.8916,127.9760,1.0,0.843373,1.0,0.907181,1.906420,2.214070
4,TCONS_00008934.1,90157.0,90847.0,690.0,15.0,9,40.1449,23.7551,1.0,0.971014,1.0,0.680010,1.240700,1.282450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,TCONS_00056899.2,NaN,NaN,NaN,4.0,4,24.1379,NaN,NaN,1.000000,NaN,0.000000,0.000000,0.000000
10002,TCONS_00056930.1,NaN,NaN,NaN,NaN,0,37.1098,NaN,NaN,0.988439,NaN,0.000000,0.000000,0.150329
10003,TCONS_00056930.2,NaN,NaN,NaN,NaN,0,25.1852,NaN,NaN,0.981481,NaN,0.000000,0.000000,0.234481
10004,TCONS_00056961.1,NaN,NaN,NaN,NaN,0,40.5240,219.6590,NaN,1.000000,NaN,0.000000,0.000000,0.000000
10005,TCONS_00056961.2,NaN,NaN,NaN,1.0,1,40.4301,182.8490,NaN,1.000000,NaN,0.000000,0.000000,0.000000

In [20]:
final_features=features.fillna(0)
final_features

,name,start,end,length,bestTSS,bestTSS_inside,mean_gc,mean_remap,cov_me3,cov_tfbs,cov_pol2,mean_pcons27,mean_pPcons27,mean_pPcons124
0,TCONS_00004626.1,77805.0,78230.0,425.0,2.0,7,45.1765,16.4424,1.0,0.924706,1.0,0.734584,1.682820,1.805900
1,TCONS_00004626.2,78724.0,79021.0,297.0,4.0,18,38.9899,101.0770,1.0,0.936027,1.0,0.645394,1.181790,1.221690
2,TCONS_00004627.1,78742.0,78869.0,127.0,4.0,18,38.4252,81.1654,1.0,0.984252,1.0,0.395150,0.551992,0.484630
3,TCONS_00004627.2,78938.0,79021.0,83.0,4.0,8,42.8916,127.9760,1.0,0.843373,1.0,0.907181,1.906420,2.214070
4,TCONS_00008934.1,90157.0,90847.0,690.0,15.0,9,40.1449,23.7551,1.0,0.971014,1.0,0.680010,1.240700,1.282450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,TCONS_00056899.2,0.0,0.0,0.0,4.0,4,24.1379,0.0000,0.0,1.000000,0.0,0.000000,0.000000,0.000000
10002,TCONS_00056930.1,0.0,0.0,0.0,0.0,0,37.1098,0.0000,0.0,0.988439,0.0,0.000000,0.000000,0.150329
10003,TCONS_00056930.2,0.0,0.0,0.0,0.0,0,25.1852,0.0000,0.0,0.981481,0.0,0.000000,0.000000,0.234481
10004,TCONS_00056961.1,0.0,0.0,0.0,0.0,0,40.5240,219.6590,0.0,1.000000,0.0,0.000000,0.000000,0.000000
10005,TCONS_00056961.2,0.0,0.0,0.0,1.0,1,40.4301,182.8490,0.0,1.000000,0.0,0.000000,0.000000,0.000000

In [21]:
# Drop rows with no information at all
final_features = final_features.loc[
    final_features['bestTSS'] + 
    final_features['bestTSS_inside'] + 
    final_features['mean_gc'] + 
    final_features['mean_remap'] + 
    final_features['cov_me3'] + 
    final_features['cov_tfbs'] + 
    final_features['cov_pol2'] + 
    final_features['mean_pcons27'] + 
    final_features['mean_pPcons27'] + 
    final_features['mean_pPcons124'] != 0]
# final_features = final_features[final_features['length'] != 0]
final_features

,name,start,end,length,bestTSS,bestTSS_inside,mean_gc,mean_remap,cov_me3,cov_tfbs,cov_pol2,mean_pcons27,mean_pPcons27,mean_pPcons124
0,TCONS_00004626.1,77805.0,78230.0,425.0,2.0,7,45.1765,16.4424,1.0,0.924706,1.0,0.734584,1.682820,1.805900
1,TCONS_00004626.2,78724.0,79021.0,297.0,4.0,18,38.9899,101.0770,1.0,0.936027,1.0,0.645394,1.181790,1.221690
2,TCONS_00004627.1,78742.0,78869.0,127.0,4.0,18,38.4252,81.1654,1.0,0.984252,1.0,0.395150,0.551992,0.484630
3,TCONS_00004627.2,78938.0,79021.0,83.0,4.0,8,42.8916,127.9760,1.0,0.843373,1.0,0.907181,1.906420,2.214070
4,TCONS_00008934.1,90157.0,90847.0,690.0,15.0,9,40.1449,23.7551,1.0,0.971014,1.0,0.680010,1.240700,1.282450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10001,TCONS_00056899.2,0.0,0.0,0.0,4.0,4,24.1379,0.0000,0.0,1.000000,0.0,0.000000,0.000000,0.000000
10002,TCONS_00056930.1,0.0,0.0,0.0,0.0,0,37.1098,0.0000,0.0,0.988439,0.0,0.000000,0.000000,0.150329
10003,TCONS_00056930.2,0.0,0.0,0.0,0.0,0,25.1852,0.0000,0.0,0.981481,0.0,0.000000,0.000000,0.234481
10004,TCONS_00056961.1,0.0,0.0,0.0,0.0,0,40.5240,219.6590,0.0,1.000000,0.0,0.000000,0.000000,0.000000
10005,TCONS_00056961.2,0.0,0.0,0.0,1.0,1,40.4301,182.8490,0.0,1.000000,0.0,0.000000,0.000000,0.000000

In [22]:
final_features.to_csv(outpath + '/' + prefix + '.csv', index=False)