# Predicting lncRNA

In [111]:
import pickle
import pandas as pd
from pathlib import Path
from sklearn.ensemble import RandomForestClassifier
script_path=Path.cwd()
appdir=script_path.parent.absolute()
outpath='/users3/chlab/rsantos/dev/fastq/dlinct'
model_path=appdir/'model'/'lncrna_model.sav'
prefix='new-lincRNAs'
predict_table=appdir/'test_get_features/features/new-lincRNAs/new-lincRNAs.csv'

In [36]:
pt=pd.read_csv(predict_table)
pt.head()

,name,start,end,length,bestTSS,bestTSS_inside,mean_gc,mean_remap,cov_me3,cov_tfbs,cov_pol2,mean_pcons27,mean_pPcons27,mean_pPcons124
0,TCONS_00000001.1.,638,933,295,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,TCONS_00000002.1.,0,499,499,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,TCONS_00000003.1.,1389,1968,579,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,TCONS_00000004.1.,0,496,496,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,TCONS_00000005.1.,92,478,386,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
pt.drop('cov_me3', axis=1, inplace=True)
pt.drop('mean_pPcons27', axis=1, inplace=True)

,name,start,end,length,bestTSS,bestTSS_inside,mean_gc,mean_remap,cov_tfbs,cov_pol2,mean_pcons27,mean_pPcons124
1,TCONS_00000002.1.,0,499,499,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,TCONS_00000003.1.,1389,1968,579,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,TCONS_00000004.1.,0,496,496,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,TCONS_00000005.1.,92,478,386,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
5,TCONS_00000006.1.,0,243,243,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1796,TCONS_00075342.1.,69225,69478,253,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1797,TCONS_00075337.3.,69366,69704,338,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1798,TCONS_00075342.2.,69645,69704,59,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1799,TCONS_00075340.2.,70391,74949,4558,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1800,TCONS_00075340.3.,75047,76964,1917,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [47]:
#Check duplicated values
pt.duplicated().value_counts()

False    1801
dtype: int64

In [48]:
model_pt=pt.loc[:, 'length':'mean_pPcons124']
model_pt.head()

,length,bestTSS,bestTSS_inside,mean_gc,mean_remap,cov_tfbs,cov_pol2,mean_pcons27,mean_pPcons124
0,295,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
1,499,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,579,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,496,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0
4,386,0.0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
## NEED TO FIX CONFLINCTING SCIKIT-LEARN VERSIONS
model=pickle.load(open(model_path, 'rb'))

/users3/chlab/rsantos/anaconda3/envs/predictMod/lib/python3.10/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator DecisionTreeClassifier from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(
/users3/chlab/rsantos/anaconda3/envs/predictMod/lib/python3.10/site-packages/sklearn/base.py:329: UserWarning: Trying to unpickle estimator RandomForestClassifier from version 0.24.2 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  warnings.warn(

In [76]:
result=pd.DataFrame(model.predict(model_pt))

/users3/chlab/rsantos/anaconda3/envs/predictMod/lib/python3.10/site-packages/sklearn/base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [80]:
result.rename(columns={0:'lncRNA'}, inplace=True)
result

      lncRNA
0      False
1      False
2      False
3      False
4      False
...      ...
1796   False
1797   False
1798   False
1799   False
1800   False

[1801 rows x 1 columns]

In [115]:
pos_result=result[result['lncRNA'] == True]

In [87]:
pt_final=pd.concat([pt['name'], result], axis=1, verify_integrity=True)

In [117]:
pt_pos=pd.concat([pt['name'], pos_result], axis=1, verify_integrity=True).dropna()
pt_pos

                   name lncRNA
528   TCONS_00013335.1.   True
532   TCONS_00013360.1.   True
536   TCONS_00013392.1.   True
537   TCONS_00013396.1.   True
543   TCONS_00013446.1.   True
...                 ...    ...
1578  TCONS_00074211.1.   True
1579  TCONS_00074213.1.   True
1580  TCONS_00066457.1.   True
1587  TCONS_00074231.1.   True
1593  TCONS_00074238.1.   True

[174 rows x 2 columns]

In [128]:
pt_pos['name'].to_csv(outpath +'/'+prefix+'-names.csv', index=False, header=False)
pt_final.to_csv(outpath +'/'+prefix+'.csv', index=False, header=False)